body {
    display: block;
    background-color: yellow;
}

table {
    border: 5px;
    color: darkblue;
}

.container {
    width: 100px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;

}